.main--container {
    display: flex;
    gap: 20px;

    .day--container {
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        .day--banner {
            width: 100%;
            height: 30px;
            background: #789eea80;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 10px;
            color: #fefafa;
        }

        .name--card {
            // background-color: lightblue;
            box-sizing: border-box;
            display: flex;
            height: 100px;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-weight: bolder;
        }
    }
}

.day--wrapper {
    display: flex;
    flex-direction: column;
    >div+span{
        margin-top: 20px;
        font-weight: bolder;
    }
}

.columns-1 {
    flex: 100%;
}

.columns-2 {
    flex: 50%;
}

.columns-3 {
    flex: 33.33%;
}

.columns-4 {
    flex: 25%;
}
.black{
    color: #000 !important;
}